*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   
.bg-img{
    background: url(/Images/Login.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.bg-img:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0, 0, 0.6);
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999;
    width: 400px;
    text-align: center;
    padding: 60px 32px;
    background: rgba(255,255,255,0.1);
    box-shadow: -1px 4px 28px 0px rgba(0,0, 0, 0.75);
    border-radius: 5px;
}
.content header{
    color: white;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: 'Montserrat', sans-serif;
}
.field{
    position: relative;
    height: 35px;
    width: 100%;
    display: flex;
    background: rgba(255,255,255,0.94);
}
.field span{
    color: #222;
    width: 40px;
    line-height: 35px;
}
.field input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.show{
    position: absolute;
    right: 13px;
    font-size: 13px;
    font-weight: 700;
    color: #222;
    cursor: pointer;
    display: none;
    font-family: 'Montserrat', sans-serif;
}
.password:valid ~ .show{
    display: block;
}
.moon{
    margin-top: 16px;
}
.mars{
    margin-top: 16px;
}
.sun{
    margin-top: 16px;
}
.venus{
    margin-top: 16px;
}
.space{
    margin-top: 16px;
}
.butt{
    margin-top: 16px;
}
.pass{
    text-align: left;
    margin: 10px 0;
}
.pass a{
    color: rgb(255, 255, 255);
    font-family: 'Poppins' sans-serif;
    text-decoration: none;
}
.pass:hover a{
    text-decoration: underline;
}
input[type="submit"]{
    background: #7BD3EA;
    border: #122536;
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
input[type="submit"]:hover{
    background: #122536;
}

.login{
    color: white;
    font-size: 15px;
    font-family: 'Poppins', sans-serif
}
.login a{
    color: #3498db;
    text-decoration: none;
}
.login a:hover{
    text-decoration: underline;
}